[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "lib/optional-lite"]
	path = lib/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
