{
    "gateway_conf": {
        "system": {
            "gateway_ID": "aa555a0000000101",
            "log": "info",
            "udplisten": 1680,
            "txpower": 14
        },
        "networkservice": {
            "type": "external",
            "external": {
                "token": "",
                "url": "loraflow.io"
            },
            "local": {}
        }
    }
}